# virtualenv
*/.venv/*

# pipeline output files
*.parquet
*.csv

# credentials
# **google_credentials.json
proud-outrider-483901-c3-2f890d3d3b86.json

# Java and spark files
# 2026.01.24 - PLEASE SETUP Java and Spark ON YOUR OWN MACHINE
# because different machines might need different installation packages
05-batch/spark/*

# w5 large dataset
*.csv.gz
05-batch/code/fhvhv/*
05-batch/code/data/raw/* # raw CSV
05-batch/code/data/pq/* # partitioned parquet


# others
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv